<div class="row">
 <div class="col-md-3">
   <%= render 'room_menu' %>
 </div>


 <div class="col-md-9">
   <div class="panel panel-default">

     <div class="panel-heading">
       Amenities
     </div>
     <div class="panel-body">
       <div class="container">
         <%= form_for @room do |f| %>

           <div class="row form-group">
             <div class+"col-md-4">
             <%= f.check_box :is_tv %> TV
             </div>
           </div>

           <div class="row form-group">
             <div class+"col-md-4">
             <%= f.check_box :is_kitchen %> KITCHEN
             </div>
           </div>

           <div class="row form-group">
             <div class+"col-md-4">
             <%= f.check_box :is_internet %> INTERNET
             </div>
           </div>

           <div class="row form-group">
             <div class+"col-md-4">
             <%= f.check_box :is_heating %> HEATING
             </div>
           </div>

           <div class="row form-group">
             <div class+"col-md-4">
             <%= f.check_box :is_ait %> AIR CONDITIONING
             </div>
           </div>
           <br/><br/>

           <dic class-"text-center">
           <%= f.submit "Save", class="btn btn-form" %>
         </div>

         <% end %>

       </div>
     </div>


  </div>
 </div>
</div>
